* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    letter-spacing: 0.8px;
}
@font-face {
    font-family: "Aire Exterior";
    src: url("/fonts/Aire Exterior.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
h4{
    font-size: 18px;

}
#Huo-Yuhao {
    font-size: 20px;
    transform: translate(10px,10px)
}

.img-block-1 {

    display: inline-block
}

body {
    font-family: 'Aire Exterior';
    background-color: #151515;
}

.navbar {
    display: flex;
    align-items: center;
    margin-top: -50px;
    padding-top: 57px;
    max-height: 155px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}


.img-block-1 h4 {
    margin-left: 5px;
    margin-top: 1px;
    width: 80px;
}
nav ul li {
    display: inline-block;
    margin: 4px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {color:#368dc9;


}
.menu-updates {
        color: #368dc9 !important;
        cursor: default;


    }

p {
    color: #fff;
}
                                   /* АНИМАЦИЯ */
.img-block-1  {
transition: transform 0.3s;
}

.img-block-1:hover {
    transform: translateY(-5px);
}


                                   /* АНИМАЦИЯ */
.container-footer {
    max-width: 1100px;
    margin: auto;
}
.container-updates {

    max-width: 1100px;
    margin: auto;
}
.container_header {
    max-width: 1100px;
    margin: auto;
}
.container {
    padding-top: 40px;
    max-width: 1100px;
    margin: auto;
}

.header {
    background: #2d2d2d;
    position: relative;
    display: block;
    min-width: 100%;
    top: 0;
    min-height: 34px;
    z-index: 3;
    min-height: 50px;
}





ul {
    list-style-type: none;
    font-size: 22px;
}

.update-title h1 {
    color: #fff;
    font-size: 22px;
    padding: 10px 0;
    cursor: default;
    margin-left: 10px;
    z-index: 1;
    transform: translate(10px, 28px);

}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}
.img-gallery {
    padding-top: 20px;

}
.img-gallery img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin: 0px 5px 0px 5px;

}

.img-gallery li {
    list-style: none;
}

.update-section {
    background: #2d2d2d;
    margin-top: 20px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.img-gallery .img-block-1{
    display: inline-block;

}

.img-block-1  {
    margin-bottom: 20px;

}



.img-block-1 a {
    height: 200px;
}
.footer  {
    background: #2d2d2d;
    text-align: center;
    width: 100%;
    border-radius: 20px;
    cursor: default;
    font-size: 18px;

}
.footer p {
    display: inline-block;
    margin: 9px;
    cursor: default;
}
#sect3 {
    font-size: 1px;
    display: none;
    height: 0px;
    width:100%;
}




/* Пк настройки  ОТ 801px */

@media only screen and (min-width: 801px) {

.nav-cat1 {
    display: none !important;
  }
.nav-cat2 {
    display: none !important;
  }
.nav-cat3 {
    display: none !important;
  }
#menu {
    display: none !important;
}
#mob-arrow-up {
    display: none;
}
#mob-arrow-down{
    display: none;
}
}




/* Мобильные устройства ДО 800px */   /* Мобильные устройства ДО 800px */


@media only screen and (max-width: 1200px){
a { font-size: 22px;
    opacity: 100%;

}
.header {
    background: #2d2d2d;
    position: fixed;
    display: flex;
    min-width: 100%;
    top: 0;
    min-height: 34px;
    z-index: 3;
    min-height: 50px;
    border-bottom: solid 0px;
}
h4 {
    font-size: 18px;
}
.img-block-1 h4{
    font-size: 20px;
}
nav ul {
    position: absolute;
    top: 50px;
    height: 100%;
    left: 0px;
    background: #2d2d2d;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 999;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.update-title h1 {
    color: #fff;
    font-size: 21px;
    padding: none;
    top: none;
    left: none;
    text-align: center;
    position: relative;
    transform: translate(0px, 18px);
}
.update-title {
    transform: translate(0px, 28px);
}
.container_header {
    max-width: 1450px;
    margin: auto;
}
.container_section {
    max-width: 1450px;
    margin: auto;
}
.container_footer {
    max-width: 102.3%;
    margin: auto;
    padding-top: 40px;
    padding-left: 15px;
}
.menu-updates {
    color: #fff;
}
.container-updates{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px
}
.container{
    min-height: 50px;
    padding-top: 0px;
    max-width: 1100px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: block;

}
nav ul li {
    display: block;
    margin: 5px 0px 0px 10px;
}
.a-block-red .red-aa:first-child {
    margin: 0px;
}
#MenuItems {
    text-align: center;
    display: flex;
    position: absolute;
    top: 50px;
    border-bottom: solid 0.2px;
}
body {
    background-color: #151515;
    font-size: 20px;
}
.footer {
    background: #2d2d2d;
    max-height: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    transform: translate(0px, 40px);
    width: 100%;
    padding-top: 12px;
    min-width: 100%;
    text-align: center;
}
.footer p {
    text-align: center;
    margin: 0px 0px 12px 0px;
}
.footer a {
    text-align: center;
    margin: 0px 0px 0px 10px;
}
.img-block-1 {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(100px, 1fr));
}
.a-block-red {
    width: 20%;
}
#logo{
    margin-left: 20px;
    display: flex;
    position: absolute;
    left: 0;
}
.img-gallery {
    margin-top: none;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}
#cat-block-1 , #cat-block-2, #cat-block-3,
#cat-block-4, #cat-block-5, #cat-block-6 {
    padding: 0px 5px 0px 5px;
    margin: 0;
    background-color: #262626;
    border-radius: 20px;
}
.second-update {
    display: none;
}
.second-blocks {
    display: none;
}
.row-3 {
    margin-top: 0px;
    background: #262626;
    border-radius: 15px;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#row-3-centr {
    margin-top: 0px;
    background: #262626;
    border-radius: 15px;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.row-3-first {
    margin-top: 24px;
    background: #262626;
    border-radius: 15px;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #262626;
}
.row-3-3 {
    margin-top: 8px;
    background: #262626;
    border-radius: 15px;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #262626;
}
.row-3-line {
    position: relative;
    top: 0px;
}
row-3 row-3-line{
    background-color: #262626
}
.row-3-line:after {
    content: "";
    width: 80%;
    opacity: 40%;
    height: 2px;
    background: #5a5a5a;
    border-radius: 80%;
    transform: translate(0px,4px)
}
.a-block {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
}
.a-block a:first-child {
    margin: 0;
}
.update-section {
    height: 30%;
    border-radius: 20px;
    width: 100%;
    margin-top: 39px;
}
nav ul li {
    display: block;
}
nav ul li a {
    color: #fff;
}
.navbar {
    max-width: 490px;
}
#menu {
    height: 28px;
    width: 28px;
    right: 0;
    top: 11px;
    display: flex;
    position: absolute;

}
.burger {
    outline: none;
}
.burger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 30px;
    height: 28px;
    width: 28px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    background: none;
    border: none;
}
.burger span {
    display: block;
    cursor: pointer;
    right: 30px;
    height: 3px;
    width: 28px;
    background-color: #fff;
    border-radius: 20%;
    font-size: 0;
}
.burger span::before, .burger span::after{
    display: block;
    cursor: pointer;
    right: 30px;
    height: 3px;
    width: 28px;
    background-color: #fff;
    content: "";
}
.burger span::before{
    transform: translate(0px,-10px);
    border-radius: 20%;
}
.burger span::after{
    transform: translate(0px,6px);
    border-radius: 20%;
}
.burger-line span {
    transition: translation 0s 0.3s;
}
.burger-line span::before, .burger-line span::after{
    transition-duration: 0.2s;
    transition-delay: 0.1s, 0.1s;
    transition-property: translate, transform;
    transition: all 0.3s ease;
}
.burger-line.is-active span::before{
    transform: translate(0px,0px);
    background: #368dc9;
}
.burger-line.is-active span::after{
    transform: translate(0px,-3px);
    background-color: #368dc9;
}
.is-active span:last-child {
    transform: translate(0px,0px);
    background-color: #368dc9;
}
.nav-cat1 {
    position: absolute;
    height: 10px;
    top: 0;
    right: 76px;
    z-index: 4;
}





.fa {
    top: 0;
    right: 0;
}
.fa-sort-up {
    min-height: 16px;
    min-width: 20px;

}

.fa-caret-up::before {
    position: absolute;
    display:contents;
    max-width: 20px;
    font-size: 28px;
}
#mob-arrow-up{
    position: absolute;
    top: -1px;
    right: 85px;
    max-width: 20px;
    max-height: 16px;
}
.fa{
    position: absolute;
    top: 4px;
    max-width: 0px;
    max-height: 0px;

}
.fa-caret-down::before {
    position: relative;
    display: block;
    max-height: 16px;
    max-width: 20px;
    top: -12px;
    right: 15px;
    font-size: 28px;
}
#mob-arrow-down{
    position: absolute;
    right: 70px;
    max-width: 20px;
    max-height: 16px;
}




#span-menu-1  {
    max-height: 28px;
}
#span-menu-2 {
    max-height: 28px;
}
#span-menu-3 {
    max-height: 28px;
}
}

/* Мобильные устройства ДО 800px */   /* Мобильные устройства ДО 800px */






        /* Мобильные устройства */


@media only screen and (min-width: 340px) and (max-width: 475px){
.img-gallery img {
    width: 180px;
    height: 130px;
}
}
@media only screen and (max-width: 435px){
.img-gallery img {
    width: 160px;
    height: 120px;
}
}
@media only screen and (max-width: 395px){
.img-gallery img {
    width: 150px;
    height: 110px;
}
}
@media only screen and (max-width: 375px){
.img-gallery img {
    width: 130px;
    height: 100px;
}
}
@media only screen and (max-width: 335px){
.img-gallery img {
    width: 120px;
    height: 90px;
}
}
@media only screen and (max-width: 315px){
.img-gallery img {
    width: 200px;
    height: 150px;}
.img-block-1 h4{
    margin-left: 10;
    width: 200px;
}
}
@media only screen and (max-width: 691px){
.img-block-1:last-child {
    display: none;
}
}






















































